@import url(https://fonts.googleapis.com/css?family=Fira+Sans:lighter,normal);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

#grid {
  position: relative;
}

.block {
  border: 1.5px solid;
  position: absolute;
  text-align: center;
  font-weight: lighter;
  transition: ease-in-out;
}

.block-level-1:after {
  content: '2';
}

.block-level-2:after {
  content: '4';
}